# Dependencies
node_modules/

# Production builds and native wrappers
dist/
electron/dist/
out/

# Application and package compilation caches
.npm-cache/
.electron-cache/
.electron-builder-cache/
.electron-builder-tools/

# Runtime logging metrics
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating system artifacts
.DS_Store
Thumbs.db
logo.png
icons/circle-plus.svg
icons/circle-x.svg
icons/infinity.svg
icons/pen.svg
icons/settings.svg
icons/square-plus.svg
icons/square-x.svg
icons/zap.svg
